*{
    margin: 0;
    box-sizing: border-box;
}

@keyframes kf {
    0%{transform: translate(-100%);
    font-size: 2rem;}
    70%{transform: translate(60%) rotate3d(90deg);
    font-size: 3.5rem;}
    100%{transform: translate(0%);
    font-size: 2.5 rem;}
}

body{
    font-family: 'Poppins', sans-serif ;
    background: radial-gradient(rgb(255, 255, 255),#7c26ec);
    background-repeat: no-repeat;
}


.header{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1rem;
    margin: 0.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 6rem;
    /* margin-bottom: 0.5rem; */
}


.first-p{
    color: #7c26ec;
    font-size: 2.8rem;
    font-weight: bold;
    animation: 2s kf;
}


.grid-container{
    background-color: rgba(153, 205, 50, 0);
    border-radius: 10px;
    margin: .5rem;
    height: 86%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 8% 92%;
}


.grid-item{
    border:.1rem solid white;
    border-style:ridge;
    border-radius: 1rem;
    margin: .1rem;
    
    text-align: center;
}

.grid-item p{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
}

.grid-item1{
    border:.2rem solid #acacac;
    border-style: ridge;
    border-radius: 1rem;
    padding: 1rem;
    margin: .1rem;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}




.text1{
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: .2rem;
    text-align: left;
}


#Heading{
    background-color: blueviolet;
    /* font-family:Arial, Helvetica, sans-serif; */
    padding: 2px;
}

#Heading p{
    font-size: 2.3rem;
    color:rgb(0, 0, 0);
    font-weight: bold;
}


#Editor{
    background-color: aliceblue;
    border-radius: 10px;
    margin: 2px;
    display:flex
}


.ta1{
    width: 90%;
    height: 30%;
    font-size: 1.25rem;
    margin: 1%;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    resize: none;
    word-wrap: break-word;
}

.mcq{
    margin: 0.5rem;

}

.Options{
    
    margin: .2rem;
    word-wrap: break-word;
}


input[type=text] {
    width: 80%;
    font-size: 1.15rem;
    word-wrap: inherit;
}

.correct{
    margin-top: 1rem;
}


.r_button{
    margin-top: 0.5rem;
    font-size: .8rem;
    font-weight: bold;
    background-color: rgb(47, 229, 235);
    border: .1rem solid rgb(61, 60, 60);
    border-radius: 1rem;
    color:black;
    transition-duration: .5s;
}

.r_button:hover{
    background-color: rgb(47, 229, 235);
    
    font-size: 1rem;
    cursor:pointer;   
}

.button-area{
    width: 90%;
    height: 10%;
    padding: 1%;
    display: flex;
}

.Button1{
    width: 30%;
    height: 80%;
    margin-left: 0.3rem;
    border-left: 1rem solid rgb(61, 60, 60,0.3);
    border-right: 1rem solid rgb(61,60,60,0.3);
    border-radius: 1rem;
    font-weight: bold;
    color:white;

    
    background-color: rgb(119, 0, 255);
    transition-duration: .5s;
}


.Button1:hover {
    width: 40%;
    height: 90%;
    
    cursor:pointer;   
}


 .Attempt{
   background-color: rgb(236, 63, 63);
    font-size: 1.5rem;
    margin: .5rem;
    font-weight: bold;
    border-left: 2rem solid rgb(61, 60, 60);
    border-right: 2rem solid rgb(61, 60, 60);
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color : black;
    transition: .3s;
    cursor: pointer;
} 


.Attempt:hover{
    font-size: 2rem;
    color: white;
    
}


.Attempt:active{
    background-color: rgb(180, 111, 245);
}

.button-area1{
    align-self: baseline;
    width: 90%;
    padding-top: 3rem;
    display: flex;
 
    flex-direction: column;
}

.Button2{
    margin: .2rem;
    background-color: #3251db;
    font-size: 1rem;
    font-weight: bold;
    color : white;
    border-left: 2rem solid rgb(61, 60, 60);
    border-right: 2rem solid rgb(61, 60, 60);
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    color : black;
    transition: .3s;
    cursor: pointer;
}

.Button2:hover{
    font-size: 1.5rem;
    color: white;
}

.Button3{
    margin: .2rem;
    background-color: #3251db;
    font-size: 1rem;
    font-weight: bold;
    color : white;
    border-left: 2rem solid rgb(61, 60, 60);
    border-right: 2rem solid rgb(61, 60, 60);
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    color : black;
    transition: .3s;
    cursor: pointer;
}

.Button3:hover{
    font-size: 1.5rem;
    color: white;
}

.grid-item2{
    border:.2rem solid #acacac;
    border-style: ridge;
    border-radius: 1rem;
    background-color: aliceblue;
    padding: 1rem;
    margin: .1rem;
    height: 100%;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
}

.grid-item2::-webkit-scrollbar{
    width: 1rem;
}

.grid-item2::-webkit-scrollbar-track{
    display: block;
    background-color: aliceblue;
    border-radius: 1rem;
    
}
.grid-item2::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color:blueviolet;
}
.que_container{
    background-color: #a7ddee;
    border: 2px solid #ccc;
    border-radius: 5% 3%;
    padding: 1%;
    margin: 2px;
    transition: .4s;
}


.que_container:hover{
    background-color: aqua;
}


.Delete-button{
    background-color: rgba(243, 70, 70, 0.883);
    float: right;
    cursor: pointer;
}


.Delete-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

